doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
	body(ng-app="pelican")
		div(ng-view)

		script(type="text/javascript", src="/lib/angular/angular.min.js")
		script(type="text/javascript", src="/lib/angular-route/angular-route.min.js")
		script(type="text/javascript", stc="/lib/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/app.js")
		script(type="text/javascript", src="/js/dashboard/DashboardManager.js")
		script(type="text/javascript", src="/js/dashboard/DashboardCtrl.js")