h1 Cables
table.table.table-hover
	thead
		tr
			th Designation
			th Name
			th From
			th To
	tbody
		tr
			td A1
			td Outputs 1
			td Digi Ampland
			td EQ 1
			td
				a(href="#") Delete

a(href="#") Add Cable